{% extends "base.html" %}

{% block page_title %} SECRET PAGE {% endblock %}

{% block content %}
<H1>SECRET</H1>

<a href="/logout">logout</a>
<a href="/users/{username}/feedback/add">Feedback</a>
<form method="POST" action="/users/{{ username }}/delete">
    <button type="submit">Delete User</button>
</form>
  

<span class="usernameDisplay">{{ user.username }}</span>
<span class="emailDisplay">{{ user.email }}</span>
<span class="first_nameDisplay">{{ user.first_name }}</span>
<span class="last_nameDisplay">{{ user.last_name }}</span>

{% endblock %}