{% extends "base.html" %}

{% block styles %}
    <link rel="stylesheet" href="/static/styles/styles.css">
{% endblock %}    


{% block page_title %} Pet List {% endblock %}

{% block content %}
<h1>Pets</h1>
<div class="petListings">
    {% for pet in pets %}
        <div class="petInfoContainer">
            <section class="nameBlock">
                <a class="petName" href="/{{ pet.id }}">{{ pet.name }}</a>
            </section>
            <section class="pictureBlock">
                <img class="petImg" src="{{pet.photo_url}}" alt="">
            </section>
            <section class="speciesAgeBlock">
                <div class="speciesShell">
                    <span class="speciesLabel">Species:</span>
                    <span class="speciesName">{{ pet.species }}</span>
                </div>
                <div class="ageShell">
                    <span class="petAgeLabel">Age:</span>
                    <span class="petAge">{{ pet.age }}</span>
                </div>
            </section>
            <section class="notesBlock">
                <span class="petNotesLabel">Notes:</span>
                <span class="petNotes">{{ pet.notes }}</span> 
            </section>
        </div>
    {% endfor %}    
</div>
<a href="/add">Add Pet</a>
{% endblock %}