{% extends "base.html" %}

{% block page_title %}Add User{% endblock %}

{% block content %}
  <h3>Add User</h3>
  <form class="addUserForm" method="post">
    <label style="display: none;" for="user_name">Username</label>
    <input class="addUserFormUsername" type="text" name="user_name" id="user_name" placeholder="Username" required>

    <label style="display: none;" for="image_url">Image URL:</label>
    <input class="addUserFormImg" type="text" name="image_url" id="image_url" placeholder="Image URL"><br>

    <button class="addUserSubmitBtn" type="submit">ADD USER</button>
  </form>
  <a href="{{ url_for('home_page') }}">Cancel</a>
{% endblock %}
