{% extends "base.html" %}

{% block page_title %}Add Post{% endblock %}

{% block content %}
<section class="postFormSection"> 
  <div class="postFormHeader">
      <button class="postFormHomeBtn" onclick="window.location.href='{{ url_for('home_page')}}'">Home</button>
      <button class="postFormUsersBtn" onclick="window.location.href='{{ url_for('show_all_users')}}'">Users</button>
  </div>
 
 
  <form method="post" class="postFormForm">

  
    <input type="text" class="postFormTitle" name="title" id="post_title" placeholder="Title" required>
    <textarea name="content" class="postFormContent" id="post_content" cols="30" rows="10" placeholder="Text"></textarea>
    <input type="text" class="postFormTags" name="tags" id="post_tags" placeholder="Add tags, separated by commas">
 
    <div class="postFormFooter">
      <button class="postFormCancelBtn" onclick="window.location.href='{{ url_for('show_all_users') }}' " type="submit">Cancel</button>
      <button class="postFormSubmitBtn" type="submit">Add</button>
    </div>
  </form>
</section>
{% endblock %}