{% extends "base.html" %}


{% block page_title %}User Detail{% endblock %}

{% block content %}
  <h3>User Detail</h3>
  <div class="userInfoTopContainer">
    <p><strong>User:</strong> {{ user.user_name }}</p>
    <div class="userInfoUserShell">
      <button class="userInfoEditBtn" onclick="window.location.href='{{ url_for('show_edit_user_form', user_id=user.id)}}'">Edit</button>
      <form method="post" action="{{ url_for('users_destroy', user_id=user.id) }}">
        <button class="userInfoDeleteBtn" type="submit">Delete</button>
      </form>
    </div>
    
  </div>
<div class="userInfoPostContainer">
  <h3>Posts</h3>
  <ul>
    {% for post in user.posts %}
      <li>
          <a href="{{ url_for('post_view',user_id=user.id, post_id=post.id) }}">
          <strong>Title:</strong> {{ post.title }}
          </a>
      </li>
    {% endfor %}
  </ul>
  <form method="get" action="{{ url_for('post_form', user_id=user.id) }}">
    <button class="userInfoAddPostBtn" type="submit" class="btn btn-primary">Add Post</button>
  </form>
</div>
{% endblock %}
